<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Magento\Widget\Model\Widget">-->
        <!--<plugin name="widget_image_chooser" type="TemplateMonster\FeaturedProduct\Model\Widget" sortOrder="1" />-->
    <!--</type>-->
</config>