//
//  Main Styles
//  -------------------------------------------

*{
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    font-family: $default-font-family;
    font-weight: $default-font-weight;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    -webkit-text-size-adjust: none;

    @media (min-width: $screen-md-min) {
        font-size: $default-font-size;
        line-height: $default-line-height;
    }
}

button.action{
    @include button-block; // _mixins.scss
    &.primary{
        @include button-block__primary; // _mixins.scss
    }

    &.tocart{
        &:before{
            font-size: 16px;
            line-height: 16px;
            vertical-align: middle;
            @include font-icon__pseudo('\e8cc');
        }
        span{
            vertical-align: middle;
        }
    }
}

button.action-dismiss{
    @include button-block; // _mixins.scss
}

button.action-accept{
    @include button-block;
    @include button-block__primary; // _mixins.scss
}

.actions-toolbar a.back{
    @include button-block__back; // _mixins.scss
}

//
//  Icons
//  ---------------------------------------------

.towishlist,
.tocompare{
    position: relative;
    span{
        display: none;
    }
}

.product-social-links .mailto{
    padding: 0 .1rem;
    @include font-icon('\e0be');
}
.towishlist{
    @include font-icon('\e87d');
}
.tocompare{
    @include font-icon('\e164');

    &:before {
        font-size: 19px;
    }
}

.action.edit{
    @include font-icon('\e3c9');
    > span{
        display: none;
    }
}
.action.delete{
    @include font-icon('\e872');
    > span{
        display: none;
    }
}

.translate-edit-icon {
    width: auto;
}

// Stack footer
.page-wrapper{
    min-height: 100%;
    overflow: hidden;
    @include make-flex;
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(space-between);

    .page-footer{
        margin-top: auto;
        color: $accent;
    }
}


//
//  Header
//  ----------------------------------------

.page-header__panel{
    background: $text-dark;

    &-inner {
        @include make-flex;
        @include align-items(center);
        @include justify-content(center);
        max-width: 1880px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        .greet.welcome {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .02em;
            color: $primary;
        }

        @media (min-width: $screen-md-min) {
            @include justify-content(space-between);
            text-align: left;
        }
    }

    .rd-navbar-collapse-container {
        @include make-flex;
        @include align-items(stretch);
        @include justify-content(center);

        .header-switchers,
        .rd-navbar-collapse {
            padding-top: 17px;
            padding-bottom: 13px;
        }

        .header-switchers {
            @media (min-width: $screen-md-min) {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -21px;
                    height: 100%;
                    width: 1px;
                    background: $secondary-1;
                }
            }
        }

        .rd-navbar-collapse + .header-switchers {
            @media (min-width: $screen-md-min) {
                margin-left: 41px;
            }
        }

        .header-switchers .switcher .toggle:after {
            position: absolute;
            top: -4px;
            right: -17px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-left: 40px;
    }
}

.page-header__content{
    padding: 15px;

    &-inner {
        max-width: 1880px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        .logo {
            display: inline-block;
        }

        @media (min-width: $screen-md-min) {
            position: relative;
            @include make-flex;
            @include align-items(center);
            @include justify-content(space-between);
            text-align: left;

            .logo {
                margin-top: 0;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding: 24px 17px 28px 40px;
    }
}

.rd-navbar-static .page-header__content .rd-navbar-search{
    margin-left: auto;

    .rd-navbar-search-toggle {
        > span {
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            font-size: 28px;
            color: $white;
        }

        &:hover span {
            color: $primary;
        }

        &.active span {
            color: $white;
            background: $primary;
        }
    }
}

.header.links{
    li{
        margin-left: $indent-small;
    }
}

//
//  Switchers
//  ---------------------------------------------

//Switcher variables
$switcher-dropdown-bg: $secondary-2;
$switcher-dropdown-color: $white;
$switcher-dropdown-bg-hover: transparent;
$switcher-dropdown-color-hover: $accent;
$switcher-dropdown-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);

.header-switchers {
    @include clearfix;
    > div {
        float: left;
        &:first-child {
            margin-left: 0;
        }
    }
    .actions {
        .action {
            background-color: transparent;
            transition: $default-transition;
            color: $accent;

            > strong {
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: .02em;
                max-width: 25px;
                display: block;
                white-space: nowrap;
                overflow: hidden;
            }

            &.active,
            &:hover {
                background-color: transparent;
                color: $white;
            }
        }
    }
}

.switcher{
    position: relative;
    margin: 0 $indent-small;
    padding: 0;
    .toggle{
        cursor: pointer;
        &:after{
            @include font-icon__pseudo($icon:'\e5cf');
            padding: 2px;
        }
        &.active{
            &:after{
                @include font-icon__pseudo($icon:'\e5ce');
            }
        }
    }
    .dropdown{
        .mage-dropdown-dialog{
            @include transform(translateY(-30px));
            transition: .3s all ease;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            background: $switcher-dropdown-bg;
            box-shadow: $switcher-dropdown-shadow;
            border: none;
            width: 170px;
            padding: 10px 0;
            z-index: 15;
            margin-left: -19px;
            font-size: 12px;
            margin-top: 18px;
            text-transform: uppercase;
            letter-spacing: .02em;

            a{
                display: block;
                padding: 3px 10px;
                color: $switcher-dropdown-color;

                &:hover{
                    color: $switcher-dropdown-color-hover;
                    background: $switcher-dropdown-bg-hover;
                }
            }
        }
        &.active .mage-dropdown-dialog{
            opacity: 1;
            visibility: visible;
            @include transform(translateY(0));
        }
    }

    .rd-navbar-collapse & {
        .dropdown .mage-dropdown-dialog{
            background-color: transparent;
            box-shadow: none;
            a{
                color: $white;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}

.switcher-label{
    display: none;
}
.switcher-options{
    display: inline-block;
    &.active{
        .switcher-dropdown{
            display: inline-block;
        }
    }
}
.switcher-dropdown{
    display: none;
}

.switcher-store{
    margin: 1.5em 0 1em 0;
}

.links{
    li{
        display: inline-block;
    }
}

//
//  Navigation
//  ---------------------------------------------

.page-top{
    margin-bottom: $indent-base;
}

//
//  Breadcrumbs
//  ---------------------------------------------

.breadcrumbs{
    background: $gray;
    padding: 10px 0 8px;

    > .container {
      @media (min-width: $screen-xl-min) {
          max-width: 1860px;
      }
    }

    .items{
        .item{
            position: relative;
            display: inline-block;
            font-size: $default-font-size - 4;
            margin-right: 10px;
            padding-right: 5px;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: $primary;

            a {
                color: $accent;

                &:hover {
                    color: $primary;
                }
            }

            strong,
            a {
                vertical-align: middle;
            }

            &:after{
                content: '|';
                position: absolute;
                right: -4px;
                top: 0;
                color: #98aec7;
            }
            &:last-child{
                margin-right: 0;
                padding-right: 0;
                &:after{
                    display: none;
                }
            }

            &.home {
                line-height: 0;

                &:after {
                    top: 9px;

                    @media (min-width: $screen-md-min) {
                        top: 7px;
                    }
                }

                a {
                    font-size: 0;

                    &:before {
                        content: '\e88a';
                        display: inline-block;
                        margin-top: 2px;
                        font: 400 16px/16px "Material Icons";
                        color: $default;
                        transition: .3s all ease;

                        @media (min-width: $screen-md-min) {
                            margin-top: .6px;
                        }
                    }

                    &:hover {
                        &:before {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

//
//  Main content
//  --------------------------------------------

.page-main{
    margin-top: 0;
    margin-bottom: 42px;
    @media (min-width: $screen-mob-min){
        margin-top: 59px;
        margin-bottom: 64px;
    }
    @media (min-width: $screen-lg-min) {
        margin-bottom: 80px;
    }
}

//Page title
.page-title-wrapper{
    margin-bottom: 16px;
    @media (min-width: $screen-sm-min){
        margin-bottom: 24px;
    }
    @media (min-width: $screen-md-min){
        margin-bottom: 32px;
    }

    .page-title{
        margin-bottom: 0;
    }
}

//
//  Page layouts
//  ---------------------------------------------

.columns > .row{
    @include make-flex();
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

//Three columns
.page-layout-3columns{
    .grid-left{
        @include order(1);
    }
    .grid-main{
        @include order(2);
    }
    .grid-right{
        @include order(3);
    }
}

//Two columns with right aside
.page-layout-2columns-right{
    .grid-main{
        @include order(1);
    }
    .grid-right{
        @include order(2);
    }
}

//Two columns with left aside
.page-layout-2columns-left{
    .grid-left{
        @include order(1);
    }
    .grid-main{
        @include order(2);
    }
}
.page-layout-1column{

}

@media (max-width: $screen-mob-min - 1){
    .page-layout-3columns,
    .page-layout-2columns-right,
    .page-layout-2columns-left{
        .grid-left,
        .grid-main{
            @include flex-basis(100%);
        }.grid-main{
            @include order(1);
        }
        .grid-left{
            @include order(2);
            margin-top: 0;
        }
        .grid-right{
            @include order(3);
            margin-top: $gutter-width;
        }
    }
}

//
//  Blocks
//  ---------------------------------------------

.block-title{
    color: $black;
    font-size: 20px;
    margin-bottom: 4px;
    @media (min-width: $screen-sm-min){
        font-size: 24px;
        margin-bottom: 8px;
    }
    @media (min-width: $screen-md-min){
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    strong{
        width: 100%;
        display: inline-block;
    }
    .action{
        float: right;
        padding: 0;
        background: 0;
        line-height: inherit;
        &.edit{
            padding: 5px;
        }
    }
    .counter{
        width: 100%;
        font-size: .8rem;
        line-height: 1;
        margin-top: 0;
    }
}
.block-subtitle{
    @extend .heading-4;
    display: block;
}

//
//  Boxes
//  ---------------------------------------------

.box{
    margin-bottom: $indent-small;
}
.box-title{
    margin-bottom: 16px;
    display: block;
    @extend .heading-4;
}

//
//  Footer
//  ---------------------------------------------

.page-footer{
    padding: 78px 0 0;

    .footer-col h4 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .06em;
        color: $white;
    }

    ul.social-links.position-footer {
        display: block;
        text-align: center;

        li {
            display: inline-block;
        }

        li + li {
            margin-left: 5px;

            @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
                margin-left: 2px;
            }
        }

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50px;
            color: $white;
            background: #14273c;
            transition: .3s all ease;

            &:hover,
            &:focus {
                color: $white;
                background: $accent;
            }

            @media (min-width: $screen-lg-min) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
                width: 35px;
                height: 35px;
                line-height: 35px;

                > .icon {
                    line-height: 35px !important;
                }
            }

        }

        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }

    * + .social-links {
        margin-top: 33px;
    }

    .logo {
        @media (max-width: $screen-md-min - 1) {
            display: block;
            text-align: center;
        }
    }

    .block.newsletter {
        .field.newsletter label {
            line-height: 1.5;
        }

        .control {
            position: relative;

            &-newsletter-wrap {
                position: relative;

                &:before {
                    content: '\e0be';
                    position: absolute;
                    top: 50%;
                    left: 21px;
                    margin-top: -1px;
                    transform: translateY(-50%);
                    font-size: 16px;
                    font-family: "Material Icons";
                    pointer-events: none;
                }
            }

            input#newsletter {
                height: 51px;
                padding-left: 46px;
                padding-right: 143px;
                color: $accent;
                background-color: $default;
                border-color: #1c344e;
                transition: .3s all ease;

                &:focus {
                    border-color: $secondary-3;
                }

                &::-webkit-input-placeholder {
                    color: $accent;
                }
                &::-moz-placeholder {
                    color: $accent;
                }
                &:-ms-input-placeholder {
                    color: $accent;
                }
                &:-moz-placeholder {
                    color: $accent;
                }

                @media (min-width: $screen-xs-min) {
                    padding-right: 150px;
                }
                @media (min-width: $screen-md-min) and (max-width: $screen-lg-min + 199) {
                    padding-right: 100px;
                }
            }

            .actions {
                position: absolute;
                top: 50%;
                right: 4px;
                margin-top: 0;
                @include transform(translateY(-50%));
                text-align: center;
                will-change: content;

                .action {
                    padding: 10px 19px;
                    text-transform: uppercase;
                    letter-spacing: .06em;
                }

                button.action.primary {
                    background: $secondary-3;

                    &:hover,
                    &:focus {
                        background: $primary;
                    }
                }

                @media (min-width: $screen-md-min) and (max-width: $screen-lg-min + 199) {
                    .action {
                        padding: 14px 10px;
                        font-size: 12px;
                    }
                }
            }
        }

        label + .control {
            margin-top: 25px;
        }
    }

    * + .newsletter {
        margin-top: 10px;

        @media (min-width: $screen-sm-min) {
            margin-top: 86px;
        }
    }

    .contact-info {
        margin-left: -7px;
        margin-top: -3px;

        dl {
            @include make-flex;
            @include align-items(flex-start);
            @include justify-content(flex-start);
        }

        dt,dd {
            display: inline-block;
        }

        dl + dl {
            margin-top: 17px;
        }

        dt {
            @include make-flex;
            font-weight: 400;
            white-space: nowrap;
            color: $white;

            > .icon {
                color: $accent;
            }

            > span + .contact-info_address-title {
                margin-left: 10px;
            }

            .contact-info_address-title {
                &:after {
                    content: ':';
                }
            }
        }

        dd {
            padding-left: 6px;
            font-style: normal;
        }
        
        dd, dd a {
            color: $accent;
        }
        
        dd a {
            white-space: nowrap;

            &:hover,
            &:focus {
                color: $primary;
            }
        }

        dd .contact-info_mail a {
            color: $primary;

            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        > .footer > .row > {
            [class*="col-"] + [class*="col-"] {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 22px;
                    height: 100%;
                    width: 1px;
                    background: #1c344e;
                }
            }
        }
    }
}

.copyright-wrap {
    position: relative;
    z-index: 1;
    margin: 27px 0 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: $accent;

    &,&:before,
    &:after {
        background: $text-dark;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        width: 100vw;
    }

    &:before {
        right: 50vw;
    }

    &:after {
        left: 50vw;
    }

    .list-payment {
        @include make-flex;
        @include align-items(center);
        @include justify-content(center);

        a {
            color: $accent;
            will-change: transform;

            &:hover,
            &:focus {
                color: $primary;
            }
        }

        li + li {
            margin-left: 10px;
        }

        .icon-xs {
            font-size: 20px;
        }
    }

    * +  .list-payment {
        margin-top: 3px;
    }

    @media (min-width: $screen-sm-min) {
        @include make-flex;
        @include align-items(center);
        @include justify-content(space-between);
        text-align: left;

        * +  .list-payment {
            margin-top: 0;
        }
    }
    @media (min-width: $screen-lg-min) {
        margin-top: 37px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min + 299px) {
        margin-top: 35px;
    }
}

.ie11 .copyright-wrap {
    display: block;
    padding-bottom: 30px;

    > .copyright {
        float: left;
    }

    > .list-payment {
        float: right;
    }
}

.footer-col{
    .footer-col-content{
        display: block;
        padding-left: 5px;

        > ul + ul {
            margin-top: 22px;
        }

        li {
            padding-left: 17px;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: .02em;
            text-transform: uppercase;

            &.current > * {
                position: relative;
                color: $white;

                &:before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -21px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: $primary;
                    transition: .3s all ease;
                }
            }

            &+ li {
                margin-top: 22px;
            }

            a {
                position: relative;
                color: $accent;

                &:before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -21px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: $accent;
                    transition: .3s all ease;
                }

                &:hover,
                &:focus {
                    color: $white;

                    &:before {
                        background: $primary;
                    }
                }
            }
        }
    }

    * + .footer-col-content{
        margin-top: 35px;
    }

    @media (max-width: $screen-mob-min - 1){
        padding: 16px 0;

        h4{
            @include font-icon('\e5cf');
            cursor: pointer;
            font-size: 20px;
            margin-bottom: 0;
            position: relative;
            color: $text-light;
            font-weight: 700;
            padding-right: 26px;
            &:before{
                position: absolute;
                top: 50%;
                right: 0;
                width: 26px;
                height: 26px;
                margin-top: -13px;
                border-radius: 2px;
                text-align: center;
                font-size: 14px;
                line-height: 1;
                padding: 6px 0;
                border: 1px solid $border-color;
            }

            &.active:before{
                content: '\e5ce';
            }
        }

        .footer-col-content{
            display: none;
        }
    }

    .footer.links li{
        width: 100%;
    }

    @media (min-width: $screen-lg-min) {
        padding-left: 22px;
    }
    @media (min-width: $screen-lg-min + 200) {
        padding-left: 44px;
    }
}

.footer .newsletter{
    @media (max-width: $screen-mob-min - 1){
        padding: 16px 0;

        .title{
            cursor: pointer;
            font-size: 20px;
            margin-bottom: 0;

            strong{
                font-weight: 700;
            }
        }
    }
}

//
//  To Top Button
//  ---------------------------------------------
.scrollToTop{
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    display: none;
    cursor: pointer;
    text-indent: 100vw;
    white-space: nowrap;
    overflow: hidden;
    background: $white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba($black,.1);
    transition: $default-transition;

    &:before{
        @include font-icon__pseudo($icon:'\e316');
        font-size: 35px;
        line-height: 1;
        text-indent: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -18px;
        margin-left: -18px;
        color: $default;
        transition: $default-transition;
    }
    &:hover {
        background: $primary;

        &:before{
            color: $white;
        }
    }

    @media (min-width: $screen-sm-min) {
        bottom: 50px;
        right: 50px;
        height: 50px;
        width: 50px;

        &:before {
            font-size: 40px;
            width: 50px;
            height: 50px;
            margin-top: -20px;
            margin-left: -20px;
        }
    }
}

//
//  Helpers
//  ---------------------------------------------
.no-display{
    display: none;
}

//
//  Divider
//  ---------------------------------------------
.divider {
    width: 212px;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    background: $primary;
}


@import "_pages.scss";