
/*
* @section      Custom pages
* @description  This section holds specific style for Custom pages
*/

.cms-page-view {
    @for $i from 1 through 6 {
        h#{$i},
        heading-#{$i}{
            text-transform: uppercase;
            margin-bottom: 1em;
        }
    }

    .page-title,
    .section-title{
        margin-top: 1em;
    }
}

.custom-page{
    table{
        margin-bottom: 4em;

        &.responsive{
            @media (max-width: $screen-sm-min - 1) {
                thead {
                    display: none;
                }
                tbody td {
                    display: block;
                    text-align: center;
                    border-left: none;
                    &:first-child{
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 600;
                        color: $text-dark;
                        background: $bg-dark;
                        padding: 1em 1em .8em;
                        &:before{
                            display: none;
                        }
                    }
                }
                tbody td:before {
                    content: attr(data-th);
                    display: block;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}

// About us
//------------------------------------

.about-us-page {
    img {
        margin-bottom: 35px;
    }
    p {
        margin-bottom: 25px;
    }
    ul {
        padding-top: 5px;
        li {
            padding: 5px 0;
        }
    }
}

.cms-about-us {
    .page-title-wrapper .page-title {
        margin-top: 1em;
    }

    .section-title {
        margin-top: 4em;
        padding-top: 4em;
        border-top: 1px solid lighten($accent, 30%);
    }

    .custom-page .section-title:first-child {
        border-top: none;
    }

    .column.main .section-title {
        padding-top: 3.5em;
        border-top: 1px solid lighten($accent, 30%);
    }

    span {
        &.heading-3,
        &.heading-4 {
            display: inline-block;
        }
    }
}

.skills {
    color: $primary;
    .value {
        font-size: 56px;
        line-height: 1.519em;
        font-weight: 700;
    }
    .term {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.big-circle-icon {
    .cms-about-us & {
        @media (max-width: 767px) {
            margin-top: 2rem;
        }
    }
}

.team > div[class*='col-'] {
    @media (max-width: 767px) {
        margin-bottom: 2rem;
    }

    img{
        margin-bottom: 1rem;
    }
}


// Testimonials in About Us
//------------------------------------

.testimonials {
    padding-bottom: 2em;
    blockquote {
        padding: 10px 20px;
        cite {
            display: block;
            text-align: center;
            margin: 0 auto 0.5em;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            color: $primary;
        }
        q {
            display: block;
            padding: 0 5%;
        }
    }
    &.owl-testimonials {
        .owl-nav {
            position: static;
        }
        .owl-controls {
            top: auto;
            bottom: 0;
            right: 50%;
            margin-right: -49px;
        }
        .owl-prev,
        .owl-next {
            padding: 8px 7px 0;
            height: 35px;
            &:before {
                font-size: 2.5em;
                color: $secondary-1;
                transition: .3s ease;
            }
            &:hover {
                &:before {
                    color: $primary;
                }
            }
        }
        .owl-prev {
            @include font-icon('\e408');
        }
        .owl-next {
            @include font-icon('\e409');
        }
    }
}

.big-circle-icon{
    display: block;
    width: 122px;
    height: 122px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 2px solid $primary;
    text-align: center;
    &:before{
        color: $primary;
        font-size: 66px !important;
        line-height: 122px;
        width: 100%;
    }
}

.medium-icon{
    margin: 0 auto 1rem;
    text-align: center;
    width: 100%;
    &:before{
        font-size: 60px;
        line-height: 1em;
        color: $primary;
    }
}

.small-icon{
    width: 100%;
    &:before{
        font-size: 40px;
        line-height: inherit;
        color: $primary;
    }
}


// Customer Service
//=======================================

.cms-customer-service {
    .terms-conditions {
        h4 {
            &.small-icon {
                &:before {
                    padding-right: 15px;
                    vertical-align: middle;
                }
            }
        }
    }

    .custom-page {
        span.heading-3 + p {
            margin-top: 15px;
        }

        .a-center + .section-title {
            margin-top: 4rem;
        }
    }

    * + .custom-page {
        margin-top: 40px;
    }
}

.customer-service {
    h3 {
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 22px;
    }
    h4 {
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .customer-service__block {
        margin-bottom: 94px;
    }

    .table-block {
        margin-bottom: 65px;

        h3 {
            margin-bottom: 46px;
        }
        table {
            width: 100%;
        }
        thead {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            th {
                padding: 10px;
                border-left: 1px solid $border-color;
                font-size: 16px;
                line-height: 1;
                vertical-align: middle;
                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }

                @media (min-width: $screen-md-min) {
                    padding: 15px 10px 15px 35px;
                }
            }
        }

        tbody {
            tr {
                &:first-child td {
                    @media (min-width: $screen-sm-min) {
                        padding-top: 41px;
                    }
                }
                &:last-child td {
                    @media (min-width: $screen-sm-min) {
                        padding-bottom: 30px;
                    }
                }
            }
            td {
                font-size: 12px;
                line-height: 1;
                padding: 7px;
                @media (min-width: $screen-sm-min) {
                    border-left: 1px solid $border-color;
                    &:first-child {
                        padding-left: 0;
                        border-left: none;
                    }
                }
                @media (min-width: $screen-md-min) {
                    padding: 11px 10px 11px 35px;
                }
            }
        }

        @media (max-width: $screen-sm-min - 1) {
            thead {
                display: none;
            }
            tbody td {
                display: block;
                text-align: center;
                &:first-child {
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 600;
                    background: $bg-dark;
                    margin-bottom: 1em;
                    padding: 1em 1em .8em;
                    &:before {
                        display: none;
                    }
                }
                &:last-child {
                    margin-bottom: 1em;
                }
            }
            tbody td:before {
                content: attr(data-th);
                display: block;
                text-align: center;
                font-weight: 600;
            }
        }
    }

    .list-block {
        h3 {
            margin-bottom: 27px;
        }

        li {
            margin-bottom: 20px;
        }
        h4 {
            @include font-icon('\e876');
            &:before {
                font-size: 30px;
                line-height: inherit;
                padding-right: 10px;
            }
        }
    }
}

// Privacy policy
//------------------------------------

.change-message {
    color: #31708f;
    background-color: #d9edf7;
    padding: 0.8rem 3.5rem 0.8rem 1rem;
    margin-bottom: 30px;
    border: 1px solid #bce8f1;
    border-radius: 2px;
    position: relative;
    font-size: 14px;
}

.privacy-policy-page {
    dd {
        font-style: normal;
        margin-bottom: 50px;
    }
}


//404 page
//======================================

.not-found-page {
    .disc li,
    dd {
        font-style: normal;
    }

    .not-found-page_top {
        @include make-flex;
        @include flex-direction(column);
        @include align-items(center);
        margin-bottom: 30px;

        img {
            width: auto;
            max-width: 100%;
            margin-bottom: 40px;
        }

        > div {
            @include make-flex;
            @include justify-content(center);
            @include align-items(flex-end);
            @include flex-wrap(wrap);
            text-align: center;
        }
        strong {
            font-size: 20px;
            line-height: 1;
            font-weight: 600;
            padding-right: 20px;

            @media (min-width: $screen-sm-min) {
                font-size: 50px;
                line-height: 1;
            }

            @media (min-width: $screen-md-min) {
                font-size: 84px;
                line-height: 84px;
            }
        }
        span {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;

            @media (min-width: $screen-sm-min) {
                font-size: 30px;
                line-height: 38px;
            }

            @media (min-width: $screen-md-min) {
                font-size: 55px;
                line-height: 68px;
            }
        }
    }

    .not-found-page_bottom {
        dt {
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;

            @media (min-width: $screen-md-min) {
                font-size: 20px;
            }
        }
        dd {
            text-align: center;

            a {
                display: inline-block;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                padding: 12px 27px;
                text-transform: uppercase;
                @include font-icon('\e88a');
                @include button-block__primary;
                &:before {
                    padding-right: 5px;
                    font-size: 22px;
                    vertical-align: sub;
                }
            }
        }
    }
}


// Search terms
//------------------------------------

.search-term-popular {
    ul.search-terms {
        @include clearfix;
        li {
            float: left;
            margin-right: 15px;
            font-size: 24px;
        }
    }
}

// Advanced Search
//------------------------------------

.search.advanced{
    @media (min-width: $screen-lg-min){
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: $screen-md-min){
        max-width: 60%;
    }

    legend.legend{
        padding-bottom: 2em;
        border-bottom: 1px solid $border-color;
        margin-bottom: 2em;
        width: 100%;
    }

    .brand_id select{
        option:first-child{
            display: none;
        }
    }

    .price .range.price{
        @include make-flex;
        @include justify-content(space-between);
        @include align-items(center);
        position: relative;

        >.field{
            @include flex-basis(48%);
        }

        .addafter{
            position: absolute;
            top: 0;
            left: calc(100% + 6px);
            line-height: 28px;
            margin-right: 0;

            @media (max-width: $screen-sm-min - 1){
                left: auto;
                right: 0;
            }
        }

        .separator{
            line-height: 28px;
            padding: 7px 0;
            margin-bottom: 1rem;
        }

        .addon{
            @media (max-width: $screen-sm-min - 1){
                padding-right: 45px;
            }
        }
    }

    .actions-toolbar{
        margin-top: 1rem;
        padding-top: 1.5rem;
        border-top: 1px solid $border-color;
    }
}

// Advanced Search
//------------------------------------

.search-terms{
    ul{
        @include make-flex;
        @include justify-content(flex-start);
        @include align-items(center);

        li{
            margin: 0 5px 5px 0;
            border: 1px solid $border-color;
        }
        a{
            padding: 5px;
            color: $default;
            &:hover{
                background: $bg-light;
            }
        }
    }
}

// Orders and Returns
//------------------------------------

.form-orders-search{
    legend.admin__legend{
        padding-bottom: 2em;
        border-bottom: 1px solid $border-color;
        margin-bottom: 2em;
        width: 100%;
    }
    .actions-toolbar{
        margin-top: 1rem;
        padding-top: 1.5rem;
        border-top: 1px solid $border-color;
    }

    @media (min-width: $screen-sm-min) {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width: $screen-md-min) {
        max-width: 60%;
    }
}

// Shipping and delivery
//=========================================

.shipping-delivery-page{
    p{
        margin-bottom: 20px;

        @media (min-width: $screen-md-min){
            margin-bottom: 30px;
        }
    }

    .heading-3{
        text-transform: uppercase;
        color: $primary;
        margin-bottom: 10px;
    }

    ul li{
        padding-left: 15px;
        position: relative;
        margin-bottom: 0.8em;
        &:before{
            content: '.';
            font-size: 35px;
            line-height: inherit;
            color: $primary;
            position: absolute;
            top: -8px;
            left: 0;
        }
        &:last-child{
            margin-bottom: 1.5em;
        }
    }

    .shipping-delivery-page__border{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color;

        @media (min-width: $screen-md-min){
            padding-bottom: 30px;
            margin-bottom: 40px;
        }

        span:not(.heading-3){
            margin-bottom: 15px;
            display: block;
        }
    }

    .shipping-delivery-page_shipping-icon{
        @include font-icon('\e558')
    }
    .shipping-delivery-page_track-icon{
        @include font-icon('\e8b6')
    }
    .shipping-delivery-page_order-icon{
        @include font-icon('\e614')
    }
    .shipping-delivery-page_shipping-icon,
    .shipping-delivery-page_track-icon,
    .shipping-delivery-page_order-icon{
        &:before{
            font-size: 40px;
            color: $primary;
            padding-right: 15px;
        }
    }
}

// FAQ page
//=========================================

.faq-page{
    #faq-accordion{
        .accordion-trigger{
            margin-bottom: 30px;
            padding-right: 30px;
            position: relative;
            &:before{
                content: 'q';
                text-transform: uppercase;
                font-size: 20px;
                line-height: 1;
                color: $white;
                background: $primary;
                text-align: center;
                padding: 15px 0;
                width: 50px;
                display: inline-block;
                margin-right: 15px;
                cursor: pointer;
            }
            &:after{
                position: absolute;
                font-size: 20px;
                line-height: 1;
                top: 17px;
                right: 0;
                cursor: pointer;
                @include font-icon__pseudo('\e313');
            }
            &.open:after{
                @include font-icon__pseudo('\e316');
            }

            @media (min-width: $screen-sm-min) {
                display: inline-block;
            }

            span{
                cursor: pointer;
                font-size: 20px;
                line-height: 50px;
                color: $primary;
            }
        }

        .accordion-content{
            display: none;
            p{
                padding-bottom: 50px;
                margin-bottom: 0;

                &:before{
                    content: 'a';
                    text-transform: uppercase;
                    font-size: 20px;
                    line-height: 1;
                    color: $primary;
                    background: lighten(saturate(adjust_hue($bg-dark, 0), 0%), 1.5686274509804008%);;
                    text-align: center;
                    padding: 15px 0;
                    width: 50px;
                    display: inline-block;
                    margin: 5px 15px 15px 0;
                    float: left;
                }
            }
        }
    }
}

// Support page
//=======================================

.support-page{
    .text-block{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
    }
    .boxes-block{
        li a{
            transition: 0s;
        }
        li div{
            background: transparent;
            border: 1px solid $primary;
            margin-bottom: 30px;
            padding: 87px 10px;
            transition: $default-transition;
            @include make-flex;
            @include justify-content(center);
            @include align-items(center);
            &:hover{
                background: $primary;

                span,
                span:before{
                    color: $white;
                }
            }

            @media (min-width: $screen-lg-min) {
                margin-bottom: 50px;
            }

            span{
                font-size: 20px;
                line-height: 1;
                @include make-flex;
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                &:before{
                    color: $primary;
                    font-size: 70px;
                    line-height: 1;
                }
            }
        }

        .support-page__archive-icon{
            @include font-icon('\e80c');
        }
        .support-page__bubbles-icon{
            @include font-icon('\e7fc');
        }
        .support-page__bubble-question-icon{
            @include font-icon('\e8af');
        }
        .support-page__envelope-icon{
            @include font-icon('\e0be');
        }
    }
}

// Guarantee page
//=======================================+
.guarantee-page{
    p{
        margin-bottom: 20px;
    }
    h3{
        font-size: 35px;
        line-height: 1;
        color: #000;
        font-weight: 600;
    }
    h4{
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: $text-dark;
        @include font-icon('\e86c');
        &:before{
            font-size: 30px;
            line-height: inherit;
            color: $primary;
            padding-right: 10px;
        }
    }
    ul{
        padding: 10px 0 20px;

        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .text-block{
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        &:last-child{
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

// Secure payment page
//=======================================+
.secure-payment-page{
    h4{
        color: $primary;
        @include font-icon('\e86c');
        &:before{
            font-size: 1.5em;
            line-height: inherit;
            color: $primary;
            padding-right: 10px;
            vertical-align: bottom;
        }
    }
    ul{
        padding: 15px 0 20px;

        li{
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .secure-payment_icons{
        ul{
            @include clearfix;

            li{
                float: left;
                margin-right: 28px;
            }

            a{
                font-size: 41px;
                line-height: 1;
                color: $primary;
                &:hover{
                    color: $text-dark;
                }
            }
        }
    }
}

// Terms & Conditions
//=======================================

.terms-conditions-page{
    p{
        margin-bottom: 28px;
    }
    ul{
        h4{
            color: $primary;
            @include font-icon('\e039');
            &:before{
                font-size: 1.5em;
                line-height: inherit;
                color: $primary;
                padding-right: 10px;
                vertical-align: bottom;
            }
        }
    }
}

// Template settings
//=======================================

.cms-template-settings {
    .page-title-wrapper .page-title {
        margin-bottom: 86px;
    }

    &.cms-page-view h3 {
        font-size: 20px;
        line-height: 1;
        text-transform: none;
        margin-bottom: 2em;

        em {
            font-weight: 400;
        }
    }

    .data-table {
        margin-bottom: 40px;
        thead {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;

            th {
                border-left: 1px solid $border-color;
                background: transparent;
                padding: 5px 5px;
                text-transform: none;
                &:first-child {
                    padding-left: 0;
                    border-left: none;
                }
                @media (min-width: $screen-md-min) {
                    padding: 10px 20px;
                }
            }
        }
        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 15px;
                        @media (min-width: $screen-md-min) {
                            padding-top: 35px;
                        }
                    }
                }
                &:last-child {
                    td {
                        padding-bottom: 15px;
                        @media (min-width: $screen-md-min) {
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            td {
                padding: 5px 5px;
                border-left: 1px solid $border-color;
                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }

                @media (min-width: $screen-md-min) {
                    padding: 10px 20px;
                }
            }
        }
    }
}
.extra-title-settings {
    font-weight: 500;
}
.after-page-header-wrap {
    .block.featured .block-content .owl-carousel .owl-controls {
        top: auto;
        bottom: 47px;
        right: 20px;
    }

    .block.widget.featured .product-item .product-label {
        top: -25px;
        right: auto;
        left: 18px;
        font-size: 28px;
        line-height: 1.2;
        background: transparent;
        font-family: $secondary-font-family;

        &:after {
            content: 'off';
            position: absolute;
            bottom: -26px;
            left: 9px;
            text-transform: uppercase;
        }

        @media (min-width: $screen-sm-min) {
            font-size: 33px;
        }
        @media (min-width: $screen-lg-min) {
            font-size: 53px;

            &:after {
                bottom: -40px;
            }
        }
    }

    .block.widget.featured .products-grid .product-items .product-item-photo {
        display: inline-block;
    }

    .products-grid .product-item {
        .product-item-info {
            margin-top: 20px;

            @media (min-width: $screen-lg-min) {
                margin-top: 93px;
            }
        }

        .product-item-name {
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: .04em;

            a {
                color: $white;

                &:hover,
                &:focus {
                    color: $default;
                }
            }

            @media (min-width: $screen-md-min) {
                font-size: 22px;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 32px;
            }
        }

        .price-box, .price-box .price-wrapper .price {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.2;
            color: $white;

            @media (min-width: $screen-md-min) {
                font-size: 42px;
            }
            @media (min-width: $screen-lg-min) {
                font-size: 62px;
            }
        }
    }

    .owl-pagination {
        .owl-page {
            display: inline-block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: $white;
            transition: .3s all ease;

            &:hover,
            &.active {
                background: $black;
                box-shadow: 0 0 0 4px $white;
            }
        }

        .owl-page + .owl-page {
            margin-left: 20px;
        }
    }

    .products-grid {
        .product-image-container {
            background: transparent;
        }

        .product-item-actions {
            display: none;
        }

        .product-item-details {
            text-align: left;
            
            @media (min-width: $screen-lg-min) {
                margin-top: 10px;
            }
        }
    }

    .block.widget.featured.intro-product .products-grid .product-items .product-item-photo:hover .product-image-photo {
        opacity: 1;
    }

    .intro-product {
        overflow: hidden;
        padding: 20px 1% 1.2% 4.2%;
        background: $primary;

        .timer-wrapper {
            display: none;
        }

        .product-item .price-box .old-price {
            display: none;
            margin-bottom: -15px;

            .price-wrapper .price {
                font-size: 1.5rem;
                line-height: 1;
            }
        }

        .products-grid .product-item {
            border: none;
        }

        @media (min-width: $screen-lg-min) and (max-width: 1499px) {
            .products-grid .product-item {
                .product-item-name {
                    font-size: 26px;
                }
                .price-box {
                    font-size: 42px;
                }
            }
        }
        @media (max-width: $screen-sm-min - 1) {
            .block-content {
                max-width: 480px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        @include make-flex;
        @include align-items(stretch);

        .slider-pro-wrapper {
            background: $default;
            @include flex-basis(67.3%);
        }
        .intro-product {
            @include flex-basis(32.7%);
        }
    }
    @media (min-width: $screen-lg-min) and (max-width: 1600px) {
        .slider-pro-wrapper {
            .sp-layer {
                top: -53% !important;
            }
            .slider-title {
                top: -36.5% !important;
            }
            .slider-desc {
                top: -18% !important;
            }
            .btn-wrap {
                top: 0!important;
            }
        }
    }
    @media (min-width: $screen-lg-min) and (max-width: 1799px) {
        .slider-pro-wrapper {
            .sp-mask,
            .sp-slide,
            .sp-image-container,
            .sp-image {
                height: 760px!important;
            }
        }
    }
}
.box-offer {
    position: relative;
    padding: 15px;
    min-height: 280px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid $border-color;
    text-align: center;

    &-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        @media (min-width: $screen-md-min) {
            margin-top: -5px;

            &-offset-top {
                margin-top: 7px;
            }
        }
    }

    .icon {
        display: inline-block;
        font-size: 48px;
        width: 48px;
        height: 48px;
        line-height: 48px;
        color: $accent;
    }

    .box-offer-title {
        margin-top: 5px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .04em;
        color: $primary;

        a {
            &:hover,
            &:focus {
                color: $default;
            }
        }
    }

    .box-offer-desc {
        margin-top: 10px;
        padding-right: 14%;
        padding-left: 14%;
        line-height: 1.5;
    }

    @media (min-width: $screen-sm-min) {
        max-width: 548px;
    }
    @media (min-width: $screen-md-min) {
        min-height: 309px;

        .icon {
            font-size: 63px;
            width: 68px;
            height: 68px;
            line-height: 68px;
        }

        .box-offer-title {
            margin-top: 10px;
            font-size: 24px;
        }
    }
    @media (min-width: $screen-lg-min) {
        .box-offer-title {
            margin-top: 14px;
        }

        .box-offer-desc {
            margin-top: 25px;
        }
    }
}

.offsers-wrap {
    margin-top: 65px;
    margin-bottom: 65px;
    @include make-container($gutter-width);
    min-width: $container-xs;
    max-width: $screen-xs-min;
    padding-right: 0;
    padding-left: 0;

    @media (min-width: $screen-xs-min) {
        min-width: $container-xs-custom;
    }
    @media (min-width: $screen-sm-min) {
        max-width: $container-sm;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    @media (min-width: $screen-md-min) {
        max-width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        max-width: $container-lg;
        margin-bottom: 90px;
    }
    @media (min-width: $screen-xl-min) {
        max-width: $container-xl;
    }
    @media (max-width: $screen-sm-min - 1) {
       [class*='col-'] + [class*='col-'] {
           margin-top: 30px;
       }
    }
}

.tm-blog-post-view {
    .post-page {
        .products-grid.products-related{
            .owl-stage-outer {
                overflow: visible;

                .owl-stage {
                    @include make-flex;
                }
            }
        }
    }
}

.catalog-category-view,
.tm-blog-index-index,
.brand-brand-view,
.page-products,
.customer-account-index,
.tm-blog-post-view {
    .page-title-wrapper > .container {
        padding-right: 0;
        padding-left: 0;
    }

    .page-title {
        text-align: center;

        @media (min-width: $screen-md-min) {
            text-align: left;
        }
    }
}

.catalog-category-view .page-main {
    margin-bottom: 0;
}

.contact-index-index {
    .column > .row {
        > * + .col-md-6 {
            margin-top: 30px;

            @media (min-width: $screen-md-min) {
                margin-top: 0;
            }
        }
    }
}

.customer-address-form {
    .select2-container--default .select2-results > .select2-results__options {
        overflow-y: scroll;
    }
}

.checkout-index-index .modal-popup .form-shipping-address,
.customer-address-form .page-main .form-address-edit {
    .field {
        label + .control {
            margin-top: 8px;
        }

        &.custom-label .label + .control {
            margin-top: 0;
        }
    }

    .form {
        .field + .field {
            margin-top: 15px;
        }
    }
}

.checkout-index-index {
    @media (max-width: $screen-sm-min - 1) {
        .custom-slide._show {
            background: transparent;
        }
    }
}

.catalog-product-view {
    .page-main .block.review-add {
        .field {
            label + .control {
                margin-top: 8px;
            }

            &.review-field-rating {
                label + .control {
                    margin-top: 0;
                }
            }
        }
    }
}

.wishlist-index-index  .sidebar {
    .account-navigation .account-nav,
    .collapsible-block .block-content {
        @media (max-width: $screen-md-min - 1) {
            max-width: 300px;
        }
    }
}

.cms-home {
    .page-main {
        margin-top: 28px;
    }
}