.columns .twitter-timeline-wrapper {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;

    flex-grow: 1;
    -webkit-flex-grow: 1;

    order: 3;
    -webkit-order: 3;
    -ms-flex-order: 3;
}

.page-layout-2columns-right .columns .twitter-timeline-wrapper.position-left,
.page-layout-2columns-left .columns .twitter-timeline-wrapper.position-right {
    display: none;
}

.page-layout-1column .columns .twitter-timeline-wrapper.position-left,
.page-layout-1column .columns .twitter-timeline-wrapper.position-right {
    display: none;
}

.twitter-timeline-wrapper.position-content {
    clear: both;
    width: 500px;
    margin: 0 auto;
}

.twitter-timeline-wrapper.position-footer {
    float: right;
    clear: right;
    width: 300px;
}

body.account .twitter-timeline-wrapper{
    display: none;
}