@import '_variables.scss';
@import '_mixins.scss';
@import '_blog-listing.scss';
@import '_blog-widget.scss';
@import '_blog-post.scss';
@import '_blog-comments.scss';
@import '_blog-related-posts.scss';
@import '_blog-sidebar.scss';
@import '_owl.carousel.scss';


.posts-list-wrapper {
    .toolbar-top .toolbar-posts{
        @include make-flex;
        @include justify-content(space-between);

        .limiter{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            margin-bottom: 0;
            @include justify-content(space-between);

            .select2-container {
                min-width: 70px;
            }

            @media (min-width: $screen-sm-min){
                @include order(2);
            }
        }


        .sorter{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            margin-bottom: 0;
            @include justify-content(space-between);

            @media (min-width: $screen-sm-min){
                @include order(1);
            }

            .sorter-label{
                padding-right: $indent-small;
            }
        }

        .control{
            text-align: center;
        }
    }

    .toolbar-bottom {
        margin-top: 30px;
    }
}

.block-posts-list{
    .post-items{
        margin: 0;
        .post-item{
            @include flex-basis(100%);

            .post-image {
                a {
                    position: relative;
                    overflow: hidden;
                    display: block;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -75%;
                        z-index: 2;
                        display: block;
                        width: 50%;
                        height: 100%;
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                        -webkit-transform: skewX(-25deg);
                        transform: skewX(-25deg);
                    }

                    &:hover {
                        &:before {
                            -webkit-animation: shine .75s;
                            animation: shine .75s;
                        }
                    }
                }
            }

            .post-item + .post-item {
                margin-top: 30px;
            }

            @media (min-width: $screen-md-min) {
                @include flex-basis(33.333%);

                .post-item + .post-item {
                    margin-top: 0;
                }
            }
        }
        .post-title{
            text-transform: uppercase;

            a{
                color: $default;
                &:hover{
                    color: $primary;
                }
            }
        }
        a.post-link{
            text-transform: capitalize;
            &:hover{
                color: $default;
            }
        }
        .post-data{
            @include make-flex;
            @include justify-content(space-between);
            time{
                display: inline-block;
            }

            .post-comments a{
                color: $default;
                &:hover{
                    color: $primary;
                }
            }

            @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
                display: block;

                .post-author {
                    margin-top: 5px;
                }
            }
        }
    }
}

.post-page{
    .post-text{
        img{
            margin-bottom: 1rem;

            @media (min-width: $screen-lg-min) {
                float: left;
                padding-right: 20px;
                margin-bottom: 15px;
            }
        }
    }
    .post-data{
        @include make-flex;
        @include justify-content(space-between);
        time{
            display: inline-block;
        }

        .post-comments a{
            color: $default;
            &:hover{
                color: $primary;
            }
        }
    }

    .post-comments-block{
        .post-comment{
            background-color: transparent;
            padding: 30px 0;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
        .comment-info{
            @include make-flex;
            @include justify-content(flex-start);
            border-bottom: none;

            div{
                float: none;
            }
            h3{
                margin: 0 2em 0 0;
                @include order(1);
            }
            span{
                line-height: 2rem;
            }
            .post-data{
                @include order(2);
            }
        }
    }
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}